.treatment-page {
    padding: clamp(10px, 3vw, 20px);
    text-align: center;
    font-family: 'Prompt', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
}

/* h2 {
    font-size: clamp(20px, 4vw, 24px);
    margin-bottom: clamp(20px, 4vw, 30px);
    padding-left: clamp(30px, 3vw, 20px);;
    text-align: left;
} */

.treatment-content {
    text-align: left;
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    padding: clamp(10px, 3vw, 20px);
}

.treatment-content p {
    font-size: clamp(16px, 3vw, 16px);
    margin-bottom: 15px;
    color: #39899b;
}

.treatment-content ul {
    list-style-type: none;
    padding-left: clamp(16px, 3vw, 16px);
}

.treatment-content ul li {
    margin-bottom: clamp(10px, 2vw, 15px);
    font-size: clamp(16px, 2.5vw, 16px);
    line-height: 1.6;
    position: relative;
}

.treatment-content ul li:before {
    content: "•";
    position: absolute;
    left: -15px;
}

.treatment-content ul ul {
    margin-top: clamp(8px, 2vw, 10px);
    margin-left: clamp(15px, 3vw, 20px);
}

.home-button {
    background-color: #5CD1E5;
    color: white;
    border: none;
    padding: clamp(10px, 2vw, 12px) clamp(20px, 4vw, 30px);
    border-radius: 5px;
    font-size: clamp(14px, 2.5vw, 16px);
    margin-top: clamp(20px, 4vw, 30px);
    cursor: pointer;
    font-family: 'Prompt', sans-serif;
    width: auto;
    min-width: 200px;
    max-width: 90%;
}

.home-button:hover {
    background-color: #4bb3c7;
}

@media screen and (max-width: 480px) {
    .treatment-content ul {
        padding-left: 15px;
    }
    
    .treatment-content ul ul {
        margin-left: 15px;
    }
}